:root {
	--background: var(--color-light);
	--foreground: var(--color-dark);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: var(--color-dark-alt);
		--foreground: var(--color-light-alt);
	}
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	height: 100%;
	margin: 0;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh; /* 100% высоты области просмотра */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

main {
	flex: 1; /* Растягивает main на всю доступную высоту */
	padding: 10px 20px 30px;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}
