.menu {
	padding-block: 10px;
	background: linear-gradient(
		180deg,
		rgba(54, 62, 81, 0.4) -4.83%,
		rgba(24, 28, 36, 0.4) 116.91%
	);
	backdrop-filter: blur(50px);
}

.menu-list {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 16px;
}

.menu-item {
	width: 60px;
	height: 50px;
	border-radius: 20px;
	background: transparent;
	/* padding: 10px; */
	transition: all 0.25s ease;
}

.menu-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.menu-item--scan {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #539df3;
	border-radius: 25px;
	margin-top: -50px;
	/* width: 40px; */
	height: 60px;
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.363);
	/* transition: transform 0.3s ease, background-color 0.3s ease,
		box-shadow 0.3s ease; */
}

.menu-item--scan:hover {
	transform: translateY(-5px);
}

.menu-item--active {
	/* fill: #4e4af2; */
	/* color: linear-gradient(153deg, #34c8e8 1.7%, #4e4af2 114.52%); */
	/* background-color: #4f1eff;
	border-radius: 35px;
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2); */
	/* transition: transform 0.3s ease, background-color 0.3s ease,
		box-shadow 0.3s ease; Добавляем переход для тени */
	/* position: relative; Для правильного наложения эффектов */
	transform: scale(1.2);
}
.menu-item--active .menu-link img {
	/* fill: #4e4af2; */
	/* color: linear-gradient(153deg, #34c8e8 1.7%, #4e4af2 114.52%); */
	/* background-color: #4f1eff; */
	border-radius: 0 0 15px 15px;
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.856);
}
