.menu {
	padding-block: 10px;
	background: linear-gradient(
		180deg,
		rgba(54, 62, 81, 0.4) -4.83%,
		rgba(24, 28, 36, 0.4) 116.91%
	);
	backdrop-filter: blur(50px);
	position: fixed; /* Фиксируем навбар внизу */
	bottom: 0;
	left: 0;
	right: 0;
	/* padding-bottom: env(
		safe-area-inset-bottom,
		0px
	); Отступ для системного UI */
}

.menu-list {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 16px;
}

.menu-item {
	width: 60px;
	height: 50px;
	border-radius: 20px;
	background: transparent;
	/* padding: 10px; */
	transition: all 0.25s ease;
}

.menu-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.menu-item--scan {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #539df3;
	border-radius: 25px;
	margin-top: -50px;
	/* width: 40px; */
	height: 60px;
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.363);
}

.menu-item--scan:hover {
	transform: translateY(-5px);
}

.menu-item--active {
	transform: scale(1.4);
}
