.card-skeleton {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 16px;
}
.card-skeleton__image {
	background: var(--bg-skeleton);
	width: 100%;
	aspect-ratio: 350 / 200;
	border-radius: var(--border-radius);
}
.card-skeleton__barcode {
	width: 100%;
	height: 65px;
	background: var(--bg-skeleton);
	border-radius: var(--border-radius);
}
