.card {
	border-radius: var(--border-radius);
	margin: auto;

	width: fit-content;
	height: fit-content;
}
.card__image {
	border-radius: var(--border-radius);
	/* backdrop-filter: blur(100px); */
	/* opacity: 0.9; */
	/* background: linear-gradient(
		110deg,
		rgba(54, 62, 81, 0.4) -4.83%,
		rgba(24, 28, 36, 0.4) 116.91%
	); */
}
